body {
    background: black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;

}

#title {
    width: 360px;
    color: white;
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 230px;
    border-bottom: solid 2px white;
    font-family: Arial;
    z-index: 1;
}

#border {
    width: 500px;
    height: 600px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
    border: 2px solid green;
    background: #01450c;
    opacity: 0.5;
}

#avatar {
    width: 100px;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    bottom: 380px;
}

#email {
    width: 200px;
    padding: 5px;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    bottom: 360px;
    text-align: center;
    font-size: 19px;
}

#email:focus {
    background-color: #86c28d;
}


#new_password {
    width: 200px;
    padding: 5px;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    bottom: 340px;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    font-family: Arial;
    border: 2px solid #195e24;
    border-radius: 10%;
    background: #27c239;
    color: black;
    cursor: pointer;
}

#new_password:hover {
    background: #2d8a3c;
    color: #cccfcd;
    transition: all .3s ease-out;
}

#message {
    width: 330px;
    padding: 5px;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    bottom: 310px;
    text-align: center;
    font-size: 19px;
    color: white;
    border: 2px dashed #195e24;
}